.etchtabledata{
	height: 20px;
	width: 20px;

/*These styles are for me. I want to visually see divs on the page.
	/*background-color: #aaa;
	margin: 1px;
	*/
}
#gridwrapper{
	border: 1px solid black;
	width: 640px;
}
